body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Нотатки
    font-family: ;
    font-size: ;
    font-weight: ;
    line-height: ;
    color: ;
    background-color: ; 

    Інтерактивні елементи (кнопки і посилання),
    при наведенні мишкою або фокусі з 
    клавіатури, мають активний стан, вказаний 
    в Style guide (зміна кольору).

    Текст контактів в хедері змінює колір при 
    ховері і фокусі.
    */

/* ================HEADER================ */

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.16667;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;
}

.logo {
  color: #2e2f42;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.32px;
  text-transform: capitalize;

  color: #2e2f42;
}

.address-link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: lowercase;

  color: currentColor;
}

.nav-logo:hover,
.nav-logo:focus,
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
